header#masthead{
  background-color: red;
}

.edit-data{
  min-width:120px !important;
  max-width:99.99% !important;
  transition: width 0.25s;
  text-align:center;
  border:0;
  border-bottom: dashed 1px #ddd;
}

#pro_list {
  display: table;
  width: 100%;
  border: solid 1px #ddd;
  margin-top: 30px;
}
/* .row_id{
  display: none;
} */

input.data.hr {
  border: 0;
  border-bottom: dashed 1px #ddd;
  pointer-events: none;
}



.property-group {
  border: solid 1px #ddd;
  padding: 0 30px 30px;
  background: #f6f6f6;
  border-radius: 5px;
}

.state{
  display: none;
  margin: 15px 0 0 0;
}
.hidden{
  display:none;
}