#adminmenu li#toplevel_page_checklist-admin, 
#adminmenu li#menu-users,
#adminmenu li#menu-media,
#adminmenu li#menu-posts,
#wp-admin-bar-root-default li#wp-admin-bar-site-name {
  display: block;
}
#adminmenu > li ,
#wp-admin-bar-root-default > li {
    display: none;
}

.ms-parent {
  width: 350px !important;
}
 